/* * {  
  margin: 0;
  font-family: "DM Sans", sans-serif, "Helvetica Neue", Arial, "Noto Sans",
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  

body {
    margin: 0;
    font-family: "DM Sans", sans-serif, "Helvetica Neue", Arial, "Noto Sans",
      sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.65;
    color: #526484;
    text-align: left;
    background-color: #f5f6fa;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding-right: 14px;
    padding-left: 14px;
    margin-right: auto;
    margin-left: auto;
}
  
  .DRA {
      color: #364a63;
      display: inline !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding-top: 1rem;
      padding-right: 1rem;
  }

  .contact {
  color: #526484;
  display: flex;
  flex-wrap: wrap;
  margin-right: -14px;
  margin-left: -14px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -14px;
  margin-left: -14px;
  width: 100%;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  }

.mid-body{
    padding: 24px 4px;
}

@media (min-width: 576px) {
    .Container {
      padding: 32px 22px;
    }
  }

  .Container{
  width: 100%;
  height: 100%;
  padding-right: 14px;
  padding-left: 14px;
  margin-right: auto !important;
  margin-left: auto !important;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  position: relative;
  width: calc(100% - 2.5rem);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  color: #8094ae;
  text-align: center;
}

.text {
    text-align: left !important;
    margin: auto;
    max-width: 550px;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.btn{
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #526484;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.4375rem 1.125rem;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn{
    transition: none;
  }
}

.btn:hover {
  color: #526484;
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(133, 79, 255, 0.1);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.5;
}

.btn:not(:disabled):not(.disabled),
.dual-listbox .dual-listbox__button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

  .container-image {  
  display: block !important;
  position: relative;
  width: 100%;
  padding-right: 14px;
  padding-left: 14px;
  flex: 0 0 50%;
  max-width: 50%;
  }

  .footer-div {
    background: #2d3b4c;
    border-top: 1px solid #e5e9f2;
    padding: 20px 6px;
    box-shadow: 0px 1px 3px 0px rgba(54, 74, 99, 0.05);
    width: 100%;
    padding-right: 14px;
    padding-left: 14px;
    margin-right: auto !important;
    margin-left: auto !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: 576px) {
    .footer-div {
      padding: 20px 22px;
    }
  }

  .footer-copyright {
    color: #8094ae;
    text-align: start;
  }

  .footer-copyright a {
    color: inherit;
  }
  
  .footer-copyright a:hover {
    color: green;
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 0.8125rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    justify-content: space-between;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    text-decoration: none;
  }
  
  .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
  } */

  * {
    margin: 0;
    font-family: "DM Sans", sans-serif, "Helvetica Neue", Arial, "Noto Sans";
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "DM Sans", sans-serif, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.65;
    color: #526484;
    text-align: left;
    background-color: #f5f6fa;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    position: relative;
    width: 100%;
    padding: 14px;
  }

  .nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-items: center;
    justify-content: space-between;
    line-height: 1.1;
    letter-spacing: -0.01em;
    margin-left: 18px;
  }

  .DRA {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    color: #364a63;
    letter-spacing: -0.01em;
    padding-left: 4px;
    padding-bottom: 2px;
}

.contact {
  list-style: none;
  color: #526484;
  width: 100%;
  font-size: 16px;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  letter-spacing: -0.01em;
  }

  .mid-body {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: calc(100% - 2.5rem);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  color: #8094ae;
  }

  .text {
    flex-basis: 50%;
  }

  .DRE {
    font-size: 40px;
    color: #364a63;
  }

  .paragraph {
    font-size: 16px;
    color: #526484;
  }

  .btn {
      background-color: #09c2de;  
  }

  .RSA {
    color: #ffffff;
    font-size: 15px;
  }

  .container-image {
    flex-basis: 50%;
  }